.hero {
  background-color: rgba(196, 196, 196, 1);
  text-align: center;

  padding: 200px 0;
  max-width: 1600px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 767px) {
    width: 100%;

    padding: 118px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-img-phone.jpg);
  }
}

.hero-title {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin: 0 auto;
  width: 696px;
  @media screen and (max-width: 390px) {
    font-size: 26px;
    line-height: 1.61;
    width: auto;
  }
  @media screen and (min-width: 391px) and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.61;
    width: 360px;
    height: 84px;
  }
  margin-bottom: 30px;

  letter-spacing: 0.06em;
}
.hero-button {
  @extend %common-button;
  @extend %btn;
}
