.hero {
  background-color: rgba(196, 196, 196, 1);
  text-align: center;

  padding: 200px 0;
  max-width: 1600px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  width: 696px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
}
.hero-button {
  @extend %common-button;
  @extend %btn;
}
